<div class="p-10 h-[calc(100vh-64px)] overflow-auto">
  @if(showModal){
    <div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" (click)="closeModal()">
      <div class="bg-white p-6 rounded-lg w-full max-w-sm" (click)="$event.stopPropagation()">
        <h2 class="text-2xl font-semibold mb-4">Create Event</h2>
        <form (ngSubmit)="onSubmit()">
          <div class="mb-4">
            <label for="eventTitle" class="block text-sm font-medium text-gray-700">Event Title:</label>
            <input type="text" id="eventTitle" [(ngModel)]="modalData.title" name="title" required class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
          </div>
    
          <div class="mb-4">
            <label for="startTime" class="block text-sm font-medium text-gray-700">Start Time (HH:mm):</label>
            <input type="text" id="startTime" [(ngModel)]="modalData.startTime" name="startTime" required class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
          </div>
    
          <div class="mb-6">
            <label for="endTime" class="block text-sm font-medium text-gray-700">End Time (HH:mm):</label>
            <input type="text" id="endTime" [(ngModel)]="modalData.endTime" name="endTime" required class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
          </div>

          <div class="mb-6">
            <label for="endTime" class="block text-sm font-medium text-gray-700">Add Guest</label>
            <input type="text" id="email" [(ngModel)]="modalData.email" name="email" required class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
          </div>

    
          <div class="flex justify-between">
            <button type="button" (click)="closeModal()" class="px-6 py-2 bg-red-500 text-white rounded-md hover:bg-red-400 focus:outline-none">Cancel</button>
            <button type="submit" class="px-6 py-2 bg-green-500 text-white rounded-md hover:bg-green-400 focus:outline-none">Create Event</button>
          </div>
        </form>
      </div>
    </div>
    
  }
  
    <div class="calendar-container">
      <full-calendar
        #calendar
        [options]="calendarOptions">
      </full-calendar>
    </div>
</div>