<div class="p-10 h-[calc(100vh-64px)] overflow-auto">
  <div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" (click)="closeModal()">
    <div class="bg-white p-6 rounded-lg w-full max-w-sm" (click)="$event.stopPropagation()">
      <h2 class="text-2xl font-semibold mb-4">Create Event</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label for="eventTitle" class="block text-sm font-medium text-gray-700">Event Title:</label>
          <input type="text" id="eventTitle" [(ngModel)]="modalData.title" name="title" required class="border-gray-300 p-2 w-full rounded" />
        </div>
        <div class="mb-4">
          <label for="eventDate" class="block text-sm font-medium text-gray-700">Date:</label>
          <input type="date" id="eventDate" [(ngModel)]="modalData.selectedDate" name="selectedDate" required class="border-gray-300 p-2 w-full rounded" />
        </div>
        <div class="mb-4">
          <label for="startTime" class="block text-sm font-medium text-gray-700">Start Time:</label>
          <input type="time" id="startTime" [(ngModel)]="modalData.startTime" name="startTime" required class="border-gray-300 p-2 w-full rounded" />
        </div>
        <div class="mb-4">
          <label for="endTime" class="block text-sm font-medium text-gray-700">End Time:</label>
          <input type="time" id="endTime" [(ngModel)]="modalData.endTime" name="endTime" required class="border-gray-300 p-2 w-full rounded" />
        </div>
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
          <input type="email" id="email" [(ngModel)]="modalData.email" name="email" required class="border-gray-300 p-2 w-full rounded" />
        </div>
        <div class="flex justify-end">
          <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Save Event</button>
        </div>
      </form>
    </div>
  </div>

  <full-calendar #calendar [options]="calendarOptions"></full-calendar>

</div>